name: Release
on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  commitlint:
    runs-on: ubuntu-latest
    name: commitlint

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install Deps
        run: yarn install
      - name: Lint PR Title
        run: echo "nice" # yarn commitlint --from "${{ github.event.before }}"

  release:
    name: release
    needs: commitlint
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release

  draft:
    name: draft
    needs: release
    env:
      GH_TOKEN: ${{ github.token }}
    runs-on: ubuntu-latest
    if: ${{ needs.release.outputs.release_created }}
    steps:
      - run: gh release edit ${{ needs.release.outputs.tag_name }} --draft=true --repo='elixir-tools/next-ls'

  build:
    needs: [release, draft]
    runs-on: macos-14
    if: ${{ needs.release.outputs.release_created }}
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      NEXTLS_RELEASE_MODE: "burrito"
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: cachix/cachix-action@v15
        with:
          name: elixir-tools
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - run: nix develop --command bash -c 'mix local.hex --force'
      - run: nix develop --command bash -c 'mix local.rebar --force'
      - run: nix develop --command bash -c 'mix deps.get --only prod'
      - run: chmod +x priv/cmd
      - run: nix develop --command bash -c 'mix release'
        env: 
          MIX_ENV: prod
      - name: Create Checksum
        run: |
          cd ./burrito_out
          chmod +x ./*
          shasum -a 256 ./* > next_ls_checksums.txt
          cd ..
      - name: Upload to release
        env:
          GITHUB_TOKEN: ${{ secrets.token }}
        run: gh release upload ${{ needs.release.outputs.tag_name }} ./burrito_out/*

  nix-build:
    name: build nix flakes and push to cachix
    needs: [release, draft]
    if: ${{ needs.release.outputs.release_created }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-13, macos-14]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: cachix/cachix-action@v15
        with:
          name: elixir-tools
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - run: nix build --accept-flake-config
      - run: nix flake check --accept-flake-config

  publish:
    name: publish
    needs: [release, draft, build]
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - run: gh release edit ${{ needs.release.outputs.tag_name }} --draft=false --repo='elixir-tools/next-ls'

  homebrew:
    needs: [release, draft, publish]
    runs-on: ubuntu-latest
    steps:
      - name: Bump Homebrew formula
        uses: dawidd6/action-homebrew-bump-formula@v4
        with:
          token: ${{secrets.GH_API_KEY}}
          no_fork: true
          tap: elixir-tools/tap
          formula: next-ls
          tag: ${{ needs.release.outputs.tag_name }}
