name: Release
on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    name: release
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
    strategy:
      matrix:
        otp: [26.0.2]
        elixir: [1.15.4]
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          release-type: elixir
          package-name: next_ls
          extra-files: |
            flake.nix
  draft:
    needs: release
    if: ${{ needs.release.outputs.release_created }}
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - run: gh release edit ${{ needs.release.outputs.tag_name }} --draft=true --repo='elixir-tools/next-ls'

  build:
    needs: draft
    if: ${{ needs.release.outputs.release_created }}
    uses: elixir-tools/private-workflows/.github/workflows/release.yaml@main
    with:
      repo: elixir-tools/next-ls
      tag: ${{ needs.release.outputs.tag_name }}
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}

  publish:
    name: publish
    needs: build
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - run: gh release edit ${{ steps.release.outputs.tag_name }} --draft=false --repo='elixir-tools/next-ls'
